.reactEasyCrop_Container {
  width: 100% !important;
  height: 80% !important;
  bottom: 100px !important;
  background: rgba(0, 0, 0, 0.8);
  &.reactEasyCrop_Image {
    width: 500px !important;
    height: auto !important;
  }
}

.canvasContainer {
  width: 500px !important;
  height: auto !important;
}
